body {
  background-color: #f7f7f763;
}
body * {
  font-family: -apple-system, Helvetica Neue, sans-serif;
  margin: 1em 0em;
}
p {
  line-height: 1.5em;
}
img {
  max-width: 100%;
}

.da-page-header,
.da-page-main {
  width: 860px;
  background-color: #fff;
  padding: 0 20px 0;
  overflow: hidden;
  margin: auto;
}

.da-page-text-head-line-1 {
  font-size: 38px;
  display: block;
}

.da-page-text-head-line-2 {
  font-size: 28px;
  display: block;
}

.da-page-text-big {
  font-size: 19px;
}

.da-page-section {
  display: flex;
}

.da-page-section-img {
  width: 300px;
  margin: 20px;
}

.da-page-section.inverted {
  flex-direction: row-reverse;
}

.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-radius-6 {
  border-radius: 12px;
}

.da-page-section-text-block-inverted {
  padding-right: 20px;
}

.da-page-section-partners {
  margin: 0em -2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.da-page-section-partners-img > img {
  margin: 1em;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px #f9f9f9;
}

@media screen and (max-width: 768px) {
  body,
  header,
  main,
  footer {
    margin: 0;
  }
  p {
    font-size: 1.7em;
  }

  small {
    font-size: 1.4em;
  }
  .da-page-text-big {
    font-size: 2em;
  }

  .da-page-section-img {
    width: 100%;
  }
  .da-page-section,
  .da-page-section.inverted {
    flex-direction: column;
  }
  .da-page-section-text-block-inverted {
    padding-right: 0px;
  }
}
